@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .45s ease;
}
body .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    background: #000000dc
}
img{
    width: 300px;
}
video {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    margin: 0;
}
h2{
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    margin: 0;
}
h3{
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    margin: 0;
}
.countdown{
    display: flex;
    transform: scale(2);
    margin: 50px 0;     
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.time h2{
    color: orangered;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    text-shadow: 5px 5px 5px #000000;
    margin: 0 0 0px;   
}
.time small{
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
}
a{
    font-size: 20px;
    text-transform: uppercase;
    color: aliceblue;
    background: orangered;
    padding: 7px 50px;
    border-radius: 10px;
    border: #ffffff solid 2px;
}
a:hover{
    background: rgb(225, 61, 1);
}

/*  ---------- Responsive ----------  */
@media (max-width: 1023px) {
    h1 {
        font-size: 3.5rem;
        margin: 0;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3{
        color: #ffffff;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 2rem;
    }
    .time small {
        font-size: 10px;
    }
    a{
        font-size: 20px;
        color: aliceblue;
        background: orangered;
        padding: 7px 50px;
        border-radius: 10px;
    }
}