@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 1023px){
/*  ----------  Section Header  ---------- */ 
    header .btn {
        display: block;
    }
    header nav{
        position: fixed;
        background: rgba(255, 255, 255, 0.882);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 20px;
        transition:  0.5s;
        transition-property: right;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 93%;
        margin: 30px 0px 0px 0px;
    }
    header nav a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
    header nav a:hover{
        color: orangered;
    }
    header .button {
        display: none;
    }    

/*  ----------  Section Main Home  ---------- */ 
    main .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;

    }
    main .home article {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    main .home aside {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

/*  -----------  Section Soluções  ----------  */
    .solucoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .solucoes h2{
        margin: 100px 0px 0px 0px;
        font-size: 50px;
        line-height: 0px;
        text-align: center;
    }
    .solucoes .container {
        flex-direction: column;
        width: 95%;
        height: 90vh;
    }
    .solucoes .container .box{
        width: 90%;
        height: 300px;
        margin-bottom: 10px;
        padding: 0 40px;
        transition: all .3s ease;
    }
    .solucoes .container .box i{
        font-size: 50px;
        margin: 0px;
    }
    .solucoes .container .box h3{
        font-size: 1.2em;
        margin: 0px;
    }
    .solucoes .container .box p{
        font-size: .8em;
        margin: 0px;
    }
    .solucoes .container .box a{
        margin: 20px 0px 0px 0px;
        padding: 5px 50px;
    }
/*  -----------  Section Sobre  ----------  */
    .sobre .container{
        flex-direction: column;
        height: 100vh;
        padding: 0;
    }
    .sobre article {
        width: 95%;
    }
    .sobre aside{
        width: 95%;
        align-items: center;
        text-align: center;
    }

/*  -----------  Section Contatos  ----------  */
    .contatos{
        display: flex;
        text-align: center;
    }
    .contatos .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90%;
        text-align: center;
    }
    .contatos .container article{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        text-align: center;
    }
    .contatos article p{
        padding: 0px 0;
    }
    .contatos .whatsapp {
        font-size: 20px;
    }
    .contatos aside iframe{
        width: 100%;
        margin: 20px 0;
    } 
    
/*  -----------  Section Footer  ----------  */
    footer {
        font-size: .8em;
        text-align: center;
    }
    footer a {
        color: orangered;
    }
}