@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /*transition: all .3s ease;*/
}
body{
    min-height: 100vh;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    transition: all .2s ease;
}
header .brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
}
header nav a {
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: all .3s ease;
    transition-property: color,;
}
header nav a:hover {
    color:orangered;
}
header .btn{
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
header.sticky{
    height: 90px;
    background: #ffffff;
    box-shadow: 0px 10px 10px 0px #00000072;
    border-bottom: orangered solid 5px;
    transition: all .1s ease;

}
header .button{
    background: #29A71A;
    color: #ffffff;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 3px #ffffff;    
}
header .button:hover{
    background: orangered;
    color: rgb(255, 255, 255);
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

/*  -----------  Section Home  ----------  */
.home{
    background:  url(../img/bg-caremsan.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: ;
    margin: auto;
    padding: 0 5%;
}
.home .bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 800px;
    margin: auto;
    max-width: 1320px;
}
.home .bg article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;    
    z-index: 100;

}
.home .bg article h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 60px;
}
.home article h2{
    font-size: 3rem;
    color: orangered;
}
.home article h3{
    font-size: 1.5rem;
    color: orangered;
}
.home article p{
    margin: 10px 0;
    width: 80%;
}
.home article a{
    background: #29A71A;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 100px;
    border: #ffffff solid 3px;
    border-radius: 10px;    

}
.home article a:hover{
    background:#239217;
}
.home aside { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.home aside img {
    width: 110%;
}

/*  -----------  Section Soluções  ----------  */
.solucoes{background:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 80px 0 0 0;
}
.solucoes h2{
    margin: 20px 0 20px 0;
    font-size: 2rem;
    font-weight: 700;
}
.solucoes .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 3%;
    padding: 0;
    width: 100%;
}
.solucoes .container .box{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    width: 400px;
    height: 450px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #00000033; 
}
.solucoes .container .box:hover{
    border: orangered 2px solid;
    /*transition: all .1s ease;*/
    transform: scale(1.1) translate(0%, -5%);
}
.solucoes .container .box i{
    font-size: 70px;
    margin: 20px;
    color: orangered;
}
.solucoes .container .box h3{
    font-size: 30px;
}
.solucoes .container .box p {
    font-size: 1rem;
    margin: 20px 0;
}
.solucoes .container .box a {
    background: orangered;
    color: #ffffff;
    margin: 20px 0px;
    padding: 5px 50px;
    border: #ffffff solid 3px;
    border-radius: 10px;
}

/*  -----------  Section Sobre  ----------  */
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 750px;
    margin: auto;
    padding: 70px 0 0 0;
    max-width: 1320px;
}
.sobre .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 5%;
}
.sobre article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95%;
    padding: 0px;
}
.sobre article img{
    width: 100%;
}
.sobre aside{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    height: 95%;
    padding: 30px;
    text-align: right;
}
.sobre aside h3{
    font-size: 2rem;
    color: orangered;
}
.sobre aside h2{
    font-size: 3rem;
    font-weight: 800;
}
.sobre aside p{
    margin: 10px 0;
}
.sobre aside a{
    font-size: 1.2rem;
    text-transform: uppercase;
    background: orangered;
    color: #ffffff;
    margin: 20px 0px;
    padding: 15px 100px;
    border: #c7c7c7 solid 3px;
    border-radius: 10px;
}
.sobre aside a:hover{
    background: rgb(255, 91, 31);
}

/*  -----------  Section Contatos  ----------  */
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;0
    width: 100%;
    height: 750px;
    margin: auto;
    padding: 0px 0 0px 0;
}
.contatos .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
    max-width: 1320px; 
    padding: 0 20px;
}
.contatos article{ 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
    width: 50%;    
    height: 500px;
}
.contatos h2{
    color: orangered;
    font-size: 3rem;
    line-height: 40px;
    margin-bottom: 20px;
}
.contatos h3{
    color: orangered;
    font-size: 1.5rem76edwsaz
    line-height: 2069*0px;
    margin-bottom: 20px;
}
.contatos article p{
    margin: 20px 0;
    padding: 0px 0;
}
.contatos article a{
    color: #000000;
    margin: 0px 0px;
    padding: 5px;
    border-radius: 10px;
}
.contatos .whatsapp {
    width: 90%;
    margin-top: 50px;
    padding: 10px;
    background: #29A71A;
    font-size: 30px;
    text-align: center;
    color: #fdfdfd;
    border: rgb(255, 255, 255) solid 3px;
}
.contatos .whatsapp:hover{
    background: #239217;
}
.contatos aside{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;    
    height: 90%;
}
.contatos aside iframe{
    width: 100%;
    height: 100%;
    margin: 20px;
}


/*  -----------  Section Footer  ----------  */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 20px 20px;
    background: #000000;
    color: #e7e7e7;
    font-size: .8rem;
    font-weight: 200;

}
footer a {
    color: orangered;
}
footer a:hover {
    color: rgba(255, 68, 0, 0.774);
}
